<img
 class='hero-img'
 src='http://pre09.deviantart.net/2735/th/pre/f/2015/259/c/9/league_of_legends_youtube_banner_by_su_ke-d7nzyi4.jpg' />

<section class='container'>
  <h1>How-To: Riot Games API</h1>

  <p>The focus of this guide is to utilize the User Stats API provided by Riot Games and to build a library of functions that can utilize the data from the API. The current documentation provided by Riot Games only shows developers which URLs are needed to send requests to the API. Along with the given API call, I will be writing a guide on how to access each inidividual stat for each player in every region and sum up the how-to with creating global statistics on each champion in the company's game, League of Legends. The official documentation by Riot Games can be found here:</p>

  <p class='lead'><a
     href='https://developer.riotgames.com/api/methods'
     target='_blank'>Riot Games API</a></p>

  <h2>Content of the How-To, Guidelines</h2>

  <p>This how-to focuses on areas which are lacking in the official documentation provided by Riot Games. Given the API calls that I am working with, I will be writing several functions that leverages Riot's API. These functions include:</p>

  <div class='row card-funcs'>
    <div class='col-sm-4'>
      <div class='card'>
        <img class='card-img-top card-custom'
        src='http://orig02.deviantart.net/7eb0/f/2014/204/2/7/league_of_legends___battlefield_2_by_els236-d7rwi23.png'>
        <div class='card-block'>
          <h4 class='card-title'>Summoner Recent Matches</h4>
          <p class='card-text'>This function will execute API calls to summoner-v1.4 and game-v1.3 in order to find a player's recent match history based on the player's summoner name.</p>
        </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class='card'>
        <img class='card-img-top card-custom'
        src='http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/b2/Summoners.png/revision/latest?cb=20100816174916'>
        <div class='card-block'>
          <h4 class='card-title'>Summoner Stats</h4>
          <p class='card-text'>This function will execute API calls to summoner-v1.4 and stats-v1.3 to find a player's ranked stats with each champion based on the player's summoner name.</p>
        </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <img class='card-img-top card-custom'
      src='https://2.bp.blogspot.com/-POBUJs5WxZ8/WBgBpTmP-2I/AAAAAAAAQU0/9iYdPHHv6bU_PqWjBBihnj-eF9z8_zU5ACLcB/s1600/ryze.jpg'>
      <div class='card'>
        <div class='card-block'>
          <h4 class='card-title'>Champion Settings</h4>
          <p class='card-text'>Thsi function will execute API calls to lol-static-data-v1.2 and champion-v1.2 to find the different settings each champion has set based on the champion's name.</p>
        </div>
      </div>
    </div>
  </div>
</section>
