<img
 class='hero-img'
 src='http://pre09.deviantart.net/2735/th/pre/f/2015/259/c/9/league_of_legends_youtube_banner_by_su_ke-d7nzyi4.jpg' />

<section class='container'>
  <h1>How-To: Riot Games API</h1>

  <p>The focus of this guide is to utilize the User Stats API provided by Riot Games and to build a library of functions that can utilize the data from the API. The current documentation provided by Riot Games only shows developers which URLs are needed to send requests to the API. Along with the given API call, I will be writing a guide on how to access each inidividual stat for each player in every region and sum up the how-to with creating global statistics on each champion in the company's game, League of Legends. The official documentation by Riot Games can be found here:</p>

  <p class='lead'><a
     href='https://developer.riotgames.com/api/methods'
     target='_blank'>Riot Games API</a></p>

  <h2>Content of the How-To, Guidelines</h2>

  <p>This how-to focuses on areas which are lacking in the official documentation provided by Riot Games. Given the API calls that I am working with, I will be writing a JavaScript library that leverages the API.</p>
</section>
