<section class='container'>
  <h1>Riot's API</h1>
  <p>The primary calls this project makes to Riot's API are:</p>

  <div class='col-sm-6 offset-sm-3'>
    <ul class='list-group'>
      <li class="list-group-item">summoner-v1.4</li>
      <li class="list-group-item">game-v1.3</li>
      <li class="list-group-item">stats-v1.3</li>
      <li class="list-group-item">lol-static-data-v1.2</li>
      <li class="list-group-item">champion-v1.2</li>
    </ul>
  </div>

  <div class='api-desc'>
    <h3>summoner-v1.4</h3>
    <p>Returns information about a specific player given the player's summoner name or player ID.</p>
    <h3>game-v1.3</h3>
    <h3>stats-v1.3</h3>
    <h3>lol-static-data-v1.2</h3>
    <h3>champion-v1.2</h3>
  </div>
</section>
