<section class='container'>
  <h1>Riot's API</h1>
  <p>The primary calls this project makes to Riot's API are:</p>

  <div class='col-sm-6 offset-sm-3'>
    <ul class='list-group'>
      <li class="list-group-item">summoner-v1.4</li>
      <li class="list-group-item">game-v1.3</li>
      <li class="list-group-item">stats-v1.3</li>
      <li class="list-group-item">lol-static-data-v1.2</li>
      <li class="list-group-item">champion-v1.2</li>
    </ul>
  </div>

  <div class='api-desc'>
    <div class='api-block'>
      <div class='clearfix'>
        <h3 class='pull-left'>summoner-v1.4</h3>
        <button class='btn btn-outline-primary btn-sm pull-right'
                type='button'
                data-toggle='collapse'
                data-target='#summoner'
                aria-expanded='false'
                aria-controls='summoner'>expand</button>
      </div>
      <p>Returns information about a specific player given the player's summoner name or player ID.</p>

      <div class='collapse' id='summoner'>
        <img src='files/images/summoner.PNG' />
      </div>
    </div>

    <div class='api-block'>
      <div class='clearfix'>
        <h3 class='pull-left'>game-v1.3</h3>
        <button class='btn btn-outline-primary btn-sm pull-right'
                type='button'
                data-toggle='collapse'
                data-target='#game'
                aria-expanded='false'
                aria-controls='game'>expand</button>
      </div>
      <p>Returns information about a player's recent match history given the player's ID.</p>

      <div class='collapse' id='game'>
        <img src='files/images/game.PNG' />
      </div>
    </div>

    <div class='api-block'>
      <div class='clearfix'>
        <h3 class='pull-left'>stats-v1.3</h3>
        <button class='btn btn-outline-primary btn-sm pull-right'
                type='button'
                data-toggle='collapse'
                data-target='#stats'
                aria-expanded='false'
                aria-controls='stats'>expand</button>
      </div>
      <p>Returns information about a player's ranked statistics given the player's ID.</p>

      <div class='collapse' id='stats'>
        <img src='files/images/stats.PNG' />
      </div>
    </div>

    <div class='api-block'>
      <div class='clearfix'>
        <h3 class='pull-left'>lol-static-data-v1.2</h3>
        <button class='btn btn-outline-primary btn-sm pull-right'
                type='button'
                data-toggle='collapse'
                data-target='#static'
                aria-expanded='false'
                aria-controls='static'>expand</button>
      </div>
      <p>Returns all champions and their relevant data including the champion's name and ID.</p>

      <div class='collapse' id='static'>
        <img src='files/images/staticData.PNG' />
      </div>
    </div>

    <div class='api-block'>
      <div class='clearfix'>
        <h3 class='pull-left'>champion-v1.2</h3>
        <button class='btn btn-outline-primary btn-sm pull-right'
                type='button'
                data-toggle='collapse'
                data-target='#champion'
                aria-expanded='false'
                aria-controls='champion'>expand</button>
      </div>
      <p>Returns the settings of a champion as currently set up in the client given the champion's ID.</p>

      <div class='collapse' id='champion'>
        <img src='files/images/champion.PNG' />
      </div>
    </div>
  </div>
</section>
